<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag ("/posts/create") do %>
          <p>コミュニティのタイトル</p>
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name = "title" ></textarea>
          <p>参加url</p>
          
          <textarea name = "url"></textarea>
          <p>説明</p>
          
          <textarea name = "reference"></textarea>
          <p>タグ（,で区切って入力）</p>
          <textarea name = "tag_list", value: @post.tag_list.join(',') ></textarea>
          <input type="submit" value="投稿">
        <% end %>      
      </div>
  </div>
</div>
